[2010-11-27 20:10] nilicule opened #1 "Summary, when based on the contents of media_filename.txt, is not included"
Adding the following code to line 545, inside the getSummary() function, solves the problem:

return $summary;

[2010-11-27 21:44] #1 closed, assigned to nobody

[2014-02-27 16:48] rolandcs opened #2 "ITUNES_CATEGORIES not supporting multiple categories"
Hello,

Apologies if this isn't the correct forum for this, but I am unsure how to contact the developer for support. I am a user of this script (www.eventalleyshow.com/podcast/dir2cast/dir2cast.php) but am having issue with the ITUNES_CATEGORIES section. If I use multiple categories, or even one category with multiple words (eg Management & Marketing), the PHP reports a "0" in it's place. I've ev

[2014-12-23 12:29] #2 closed, assigned to nobody

[2015-05-16 20:07] jeffbearer opened #4 "Adding support for RFC 5005 Feed Paging and Archiving"
I just heard about this RFC.  I'm going to work on adding support for RFC 5005 to dir2cast.   My feed is at 1.2MB containing around 350 shows over 10 years.  I hate orphaning the old shows so this sounds likd a good solution.   I wonder how many clients support this RFC...

[2016-06-24 19:18] alexkibler opened #5 "Error: fopen(/var/www/CriticalRole/temp/bb4784c507a72f843b617cb5601ec6d6__var_www_CriticalRole.xml): failed to open stream: No such file or directory (on line 948 of /var/www/CriticalRole/dir2cast.php)"
Hi there.  I know there hasn't been any activity here in ages, but I figured it's worth a shot.  I've got a directory of MP3s on an ubuntu 12.04 server with the LAMP stack, PHP 5.3, but I'm getting this error when trying to set up.  I left the ini totally blank, but for whatever reason, this is happening.  Any idea why?

[2016-06-27 01:08] ben-xo commented on #5
That file is the cache file. It tries to put it in /tmp but on shared
hosting maybe you can't write to tmp. Try putting an actual path in the ini
file

On Fri, 24 Jun 2016 at 20:18, Alex Kibler <notifications@github.com> wrote:

[2016-08-12 00:08] bisherbas opened #6 "Enclosure Url Problem"
Urls are populated incorrectly. Example:

`<enclosure url="file:///home3/userID/public_html/`

Can you please help? Since url does not start with http, podcast is unable to play the mp3 files.

[2016-08-12 11:39] ben-xo commented on #6
This means your web server isn't passing the "Host" header through correctly to the script. How are you running it?

If you aren't running it using a web server, you'll need to edit dir2cast.ini to define an MP3_URL.

[2017-01-02 00:46] cbz opened #7 "Upgrade version of getID3"
Hi -

I wanted to add support for M4A files (which is supported in more recent versions of getID3). I was able to add support for the latest version of the library by changing the following code:

[code]

[2017-01-05 10:40] ben-xo commented on #7
Can you formulate that as a pull request? Then I can just merge it!

[2017-01-05 10:42] #6 closed

[2017-01-05 10:42] #5 closed

[2017-01-05 10:43] ben-xo commented on #4
Did you get anywhere with this? :)

[2017-01-05 12:45] jeffbearer commented on #4
I started adding it. But it got complicated when taking into account the feature that outputs the feed to file, a feature which I find indepensible. I never came up with a good way to handle that.

[2017-01-05 14:19] jeffbearer commented on #4
Following up.  I still would like to add this feature. but I think it would require so much re-architecting to the code so that it could write out paged and archived rss files that I didn't expect that you would merge it.  That's where I was when I last looked at this.

[2017-01-05 15:18] ben-xo commented on #4
Yeah, that's fair! The idea of the cache file is (obviously) so you only have to regenerate each URL once, and only if the newest file is newer than than the cache file.

You could extend that to only regenerating the relevant page the first time it's accessed, with one cache file per page. Pagination matches up with files, so you'd do the pagination to the correct "sub list" of files, then genera

[2017-01-05 15:22] ben-xo commented on #4
Of course if you're going to that much effort you might as well just put varnish in front of it all and invalidate everything every time you add an MP3

[2017-01-05 16:43] jeffbearer commented on #4
I'm not even talking about the cache file.  I use dir2cast to write it's full output to a static rss file.  I don't even keep dir2cast.php in the webroot.   And for me to modify dir2cast in a way to make me happy is unlikely going to be what you and most others are doing.   That's the crux for me.

[2017-01-05 16:53] ben-xo commented on #4
Ah, I gotcha!

[2018-01-09 18:04] Flavien06 opened #10 "Add filetype (.ogg)"
Hi,
How to add support for .ogg or other?

Thank

[2018-01-15 12:58] ben-xo commented on #10
Have a look at this pull request: https://github.com/ben-xo/dir2cast/pull/9

It would be similar to that

[2018-02-22 07:56] ognjiscar opened #11 "Is it possible to have subfolders in mp3 folder?"
Hi.
Some of my podcasts are daily and ongoing for a few years now, which makes a lot of files. Right now I have them sorted by the year in subfolders. Is there a way that the script would still work?

Thank you very much.

[2018-02-22 08:51] ben-xo commented on #11
It could be adapted; it has to scan all the folders to find out if there is
anything new each time the cache file expires, but checking folders
recursively isn't hard. It should cope fine with thousands of files in a
single folder, though. If you do make changes to support sub folders, feel
free to submit a patch.

On Thu, 22 Feb 2018 at 07:56, ognjiscar <notifications@github.com> wrote:

[2018-02-22 23:18] ben-xo commented on #11
Ok - have implemented this in the branch at https://github.com/ben-xo/dir2cast/tree/feature/subdir-support . Can you try it out and see if it does what you want?

You need to set the new option in dir2cast.ini RECURSIVE_DIRECTORY_ITERATOR = true

[2018-02-23 17:39] ognjiscar commented on #11
It's exactly what I needed and it's working very well.

Thank you so much.

[2018-02-23 20:40] ben-xo commented on #11
You're welcome :)
On Fri, 23 Feb 2018 at 17:39, ognjiscar <notifications@github.com> wrote:

[2018-02-28 18:12] RobertBozic opened #12 "Suggestion: correct UTF-8 headers"
Dear Ben, thanks for your work!
Due to the correct UTF-8 headers of generated podcast file
I suggest a change
at line around 681 to 687
[code]
to
[code]
all the best

[2018-02-28 22:15] ben-xo commented on #12
Good idea. Done!

[2018-02-28 22:15] #12 closed

[2018-02-28 22:15] ben-xo commented on #11
Merged to master.

[2018-02-28 22:15] #11 closed

[2018-03-06 07:27] Gerlie15 opened #13 "Get an image from id3 tag [feature request]"
Hi.
Is there any possibilty to implement this feature: get image from id3 tag if there is one.

Possible implementation:
If there is an image in mp3 tag, save it in the same folder as mp3 file with name: mp3_filename.jpg
and if there is an image with name: "mp3_filename.jpg" insert it in podcast item, otherwise take image,jpg (default podcast image).

I don't have the knowledge to do it so any hel

[2018-03-07 13:40] RobertBozic commented on #13
Dear Ben, good day to you!
Proposal and request:
1.
The correct code at line around 681 to 687 is:
(sorry for mistake in my previous post)
`public function http_headers()
	{
		header('Content-type: text/xml; charset=UTF-8');
		header('Last-modified: ' . $this->getLastBuildDate());
	}`
2.
We also have problems with images in item section of podcast:
Images are written with full filesystem path, ins

[2018-03-17 12:14] Gerlie15 opened #14 "No itunes:explicit tag"
Hi.
Itunes does not validate rss feeds without itunes:explicit tag.
I added it to dir2cast.php and attached it below. I set default value to 'no'. You can add EXPLICIT  to .ini file.

[dir2cast.zip](https://github.com/ben-xo/dir2cast/files/1821573/dir2cast.zip)

[2018-03-21 10:31] ben-xo commented on #14
Can you submit this as a pull request please? Many thanks!

[2018-03-21 12:08] ben-xo commented on #13
@RobertBozic can you raise those as two separate bugs?

[2018-03-21 19:39] RobertBozic commented on #13
OK, thanks I will open two separate issues...

[2018-03-21 19:45] RobertBozic opened #15 "Suggestion: correct headers"
Due to the correct UTF-8 headers of generated podcast file
I suggest a change
at line around 681 to 687
(sorry for mistake in my previous post
https://github.com/ben-xo/dir2cast/issues/12)
[code]
to
[code]
all the best

[2018-03-21 19:49] RobertBozic opened #16 "Images in item section with full system path"
I have problems with images in item section of podcast:
Images are written with full filesystem path, instead of url:
[code]

Thanks, have a good day!

[2018-03-22 12:24] ben-xo commented on #16
Is this a new issue since you upgraded versions, or is this the first time you've used it?

Try an older version, or try setting some of the options in the .ini, as this is generally what happens if you're looking at the files locally

[2018-03-22 12:26] ben-xo commented on #15
The correct content type is application/rss+xml according to https://stackoverflow.com/questions/595616/what-is-the-correct-mime-type-to-use-for-an-rss-feed

[2018-03-22 12:27] ben-xo commented on #15
…however I note that the same page says that "text/xml" has been the de-facto standard for some time, so I will fix this.

[2018-03-22 13:18] #15 closed

[2018-04-24 20:12] DC7IA opened #17 "Not Items found in... (question)"
Hi,,

thanks for developing dir2cast. Very useful for me.

Now I've got a question. I've installed dir2cast to another server.
Same configuration, but I get "No Items found in /path/path".

The path exists, the files exist, they're publicly accessible and it works with the exact same configuration. What could cause this?

dc7ia

[2018-04-25 18:15] DougBarry commented on #17
@DC7IA assuming you're using linux, is SELinux enabled?

[2018-05-04 23:44] ben-xo commented on #17
Paths starting with / are absolute paths - and the path of your public web folder on the server may not be different.

If you put a file containing <?php phpinfo(); ?> into phpinfo.php and view it, it may tell you what the PATH your new server has compared to your old server.

[2018-05-06 11:56] thetwopct opened #18 "Use MP3s under public_html in root?"
I have about 1TB of MP3s. Due to leechers, I don't want them accessible via the web, so I serve downloads of files via a PHP proxy file.

I want to offer a podcast and I am pretty sure dir2cast can help in my scenario, but I just cannot get it to work.

Server layout:
Where my website is `/home/company/public_html/`
Where dir2cast sits `/home/company/public_html/podcast/`
Where my mp3 files are `/

[2018-05-15 08:26] ben-xo commented on #18
Heya,

If you peek at the source code, file:// is the last resort when it couldn't work out the right URL from a combination of HTTP_HOST and DOCUMENT_ROOT CGI variables.

You can also just specify your "web root" by setting MP3_URL, which in your configuration you've commented out. Just set that (as well as MP3_DIR) and you should be set.

[2018-06-15 13:52] #7 closed

[2018-07-01 17:42] DC7IA opened #20 "Bug: Some characters break the feed"
I put `Radio24syv sender uafhængige nyheder hver time, døgnet rundt - når klokken bliver hel.` into description.txt and this broke the feed. Removing æ, ø and å from the description made it working again.

If I leave it in, I don't see a description, image or files. It's just the headline that's left.

This seems to be a bug. Using CentOS 7 server.

[2018-07-01 17:44] #17 closed

[2018-07-01 17:47] DC7IA commented on #20
It works if I replace those characters with any other character A to Z.

[2018-07-11 09:58] ben-xo commented on #20
Would it be possible to get a copy of the specific description.txt you are trying? I'd like to see if there's an encoding issue and debug accordingly.

[2018-09-30 20:10] ben-xo commented on #20
Just wanted to follow up on this. Are you still having the issue? Can I get a copy of the description.txt you used?

[2019-01-05 03:59] cgbale opened #21 "Using MP3_URL but still pass subfolder path"
I had the issue where the default dir2cast.ini was not working for file links and the path showed up as 'file:///path/dir2cast/cast1.mp3' I resolved this problem by setting MP3_URL to 'domain.com/dir2cast'. The file links then became to 'domain.com/dir2cast/cast1.mp3'

Unfortunately, to get this to work for subdirectories, a unique dir2cast.ini file is required in each subdirectory, with the MP3_U

[2019-03-14 08:52] RobertBozic opened #22 "GooglePlay RSS feed requirements"
Dear Ben,
depending on new GooglePlay requirements,
the rss header must contain also GooglePlay xmlns attributes:

`xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"`
all:
`<rss version="2.0"
     xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"
     xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">`
Is it possible to add this in next revision?
More info

[2019-05-14 09:48] ben-xo commented on #22
"xmlns" are used to namespace other tags in the page, that is it is only necessary to include that if you use <googleplay:...> tags anywhere in your RSS feed.

On the page you linked, Google Play appears to support <itunes:...> tags as equivalent for all tags they mention. Is there something specific that is not working for you?

[2019-08-28 20:48] Mrensmo opened #23 "Include all mp3's"
Love this little program!

So far I'm just trying it out. And I'm wondering about "Number of items to show in the feed" with defaults to 10. I would want it to include all the MP3's in the folder. Is that possible in some way? Otherwise see this as a feature request.

Mattias in Sweden

[2019-09-13 12:41] ben-xo commented on #23
Hi @Mrensmo !

I would suggest you just set ITEM_COUNT to something very large, for example 1000000000 (1 billion). Even if you add 1 MP3 per minute, it will take you almost 2000 years to reach that limit.

[2019-09-13 12:42] ben-xo commented on #20
I believe this is now fixed. Please re-open if you have any further issues!

[2019-09-13 12:42] #20 closed

[2019-09-16 07:06] mattCameron09 opened #24 "ID3 tags fail on large files"
For mp3 files over ~250 MB, I am unable to read the ID3 tags. The feed still loads, but for those items, the description is blank and the title is set to "(untitled)."

[2019-09-28 18:43] bisherbas opened #25 "Duration Tag is Missing from the RSS"
RSS is generated properly and I have been already submit it to iTunes. However, I noticed that the `<duration>` tag is missing from the RSS. I confirmed that the `getID3` folder is in the same folder as the `dir2cast.php`. Could you help me resolve this issue? All of my files are `mp3`.

[2019-09-28 18:47] #25 closed

[2019-09-28 18:47] bisherbas commented on #25
Removing the `temp` folder fixed the issue.

[2019-11-13 18:57] DickManhard commented on #24
I would like to mention that you should add the php-xml requirement in the readme.txt. Great program thus far.

[2019-12-12 16:21] nitaaikumar opened #27 "Could you please add support for mp4 video files too?"
I want to generate a video podcast feed for a particular folder as video podcasts are also becoming quite popular as they can download the full video episode at original audio quality and watch then watch it on youtube. You could put the name of the video file as the name of the episode and the same as the description I guess. Or any other way possible.

I can pay for your time to adding mp4 video

[2019-12-12 16:39] ben-xo commented on #27
Hi there,

I've made a change which I think will support mp4 videos. Can you give the 'master' version a try please?

[2019-12-12 16:42] ben-xo commented on #24
@DickManhard I've added a note about the XML requirement to the README.

@mattCameron09 I've not experienced this myself. ID3v2 tags are at the beginning of the file (id3v1 tags are at the end), so it shouldn't really matter how big the file is!

[2019-12-12 16:48] nitaaikumar commented on #27
Wow, that was so quick Ben. Thanks a million. Will try asap and let you know. You rock!

[2019-12-12 16:53] ben-xo commented on #27
It was pure luck that I happened to be looking at github at the same time you raised the issue :)

dir2cast can theoretically support any type of file supported by getID3 (http://getid3.sourceforge.net/) and all i have to add is support for recognising which files you want in your podcast by the file extension.

in practise, i turned most of the file types off, to keep things simple (and also some

[2019-12-12 17:00] nitaaikumar commented on #27
Thanks a lot. Will it take the filename of the .mp4 file as the episode title because mp4s don't have id3 right? Should I upload the mp4 file with dashes separating the words or just spaces between the words? If there are dashes, will it strip them off in the title? That would be the best because a mp4 web link with spaces looks kind of messy. So sorry to ask you. It will take me some time to uplo

[2019-12-12 17:06] ben-xo commented on #27
* yes it will take the filename .mp4 (see change 3348137feec08ebc13485544ee021d6f1f95b370)
* it will use whatever the ordinary metadata type is for mp4 files - it's not actually ID3 tags. Hopefully it's using useful fields! If you put tags in your video files and they dont come out right in the feed, I'll need to look into it a bit further
* ... i don't know what the best way to name your files is

[2019-12-12 17:18] nitaaikumar commented on #27
Thanks. I am getting this error at: https://nitaai.me/dir2cast.php. There are mp4 files in the same directory as dir2cast.ini, dir2cast.php and getID3

 Trying to access array offset on value of type bool

This error occurred on line 1704 of fullpath/getID3/module.audio.mp3.php.

[2019-12-13 10:52] ben-xo commented on #27
Good morning @nitaaikumar,

Interesting. I wonder if you could send me a download link to some of the files in your podcast folder, then I can "try this at home" to see what the problem is.

[2019-12-15 14:28] ben-xo commented on #27
hi @nitaaikumar can you give the most recent changes a go? I have upgraded the version of getID3 being used.

[2019-12-16 09:06] nitaaikumar commented on #27
Thank you for 1.16 version. Still it gives the same error when there are .m4a audios files and .mp4 video files in the folder. It only works when I delete them and put .mp3 files in the folder. aac m4a audio files have much better quality than mp3 at the same bitrates and it is sthe tandard export option in most audio editing softwares. Please please fix support for m4a and mp4. Then it will be pe

[2019-12-16 09:49] ben-xo commented on #27
Would you kindly send me some example MP4 files? Then I can try to fix it
properly.

On Mon, 16 Dec 2019 at 09:06, nitaaikumar <notifications@github.com> wrote:

--
--
Ben

[2019-12-16 09:57] nitaaikumar commented on #27
This is the link with the error (the directory has only the two m4a and mp4 files below):
https://gorich.org/dir2cast.php

m4a Audio which is giving error:
@ben-xo https://gorich.org/Love-is-in-the-Air.m4a

mp4 video which is giving error:
https://gorich.org/NitaaiMeditation.mp4

[2019-12-18 23:25] nitaaikumar commented on #27
Dear @ben-xo  Any luck in fixing it? Thanks.

[2019-12-20 20:30] ben-xo commented on #27
I have reproduced the error and I'm trying to work out what the cause is. Sorry for the delay - full time job as well!

[2019-12-20 22:33] nitaaikumar commented on #27
Thanks for the heads up @ben-xo, will wait for the fix. I forgot to put the id3 tags in the mp4 video file. I can do that if you want.

[2019-12-21 08:52] ben-xo commented on #27
I may have fixed the issue now. There was a bug in getID3 which needed addressing.

[2019-12-21 09:14] nitaaikumar commented on #27
Thanks so much @ben-xo. It is fixed now. Wow, https://gorich.org/dir2cast.php is rendering correctly with mp4 and m4a. I just noticed, it is not taking the id3 cover image from the m4a or mp4 as the episode image. Since it is taking the title, author and everything else, can it be made to take the id3 cover image also for both m4a audio and mp4 video? We can just add a 1400x1400 cover image as per

[2019-12-21 10:40] ben-xo commented on #27
@nitaaikumar thank you so much in advance, I've added a Sponsor button to the top of the project which has my paypal link.

I'd be interested to make the cover art work - it's a little more tricky than the regular tags. I'll have a look at what I can do. We should open a new github issue for that as it's a different feature.

[2019-12-21 10:40] #27 closed

[2019-12-21 11:12] ben-xo opened #28 "Automatically extract cover art from media files for episodes"
Suggested on another issue. Use embedded cover art.

[2019-12-21 11:13] ben-xo commented on #28
@nitaaikumar  would you like to try the  feature/automatic-cover-art  branch? It should extract episode covers automatically and put them into the folder with the media files.

[2019-12-21 11:17] nitaaikumar opened #29 "Podcast feed giving error in Pocket Casts"
The Pocket Casts app is the best free app for both iOS and Android. It even shows all the 1000s of episodes in the feed unlike Apple Podcasts which shows only 300. When I add my https://gorich.org/dir2cast.php feed to Pocket Casts it first some error that feed is not proper and then now it is constantly showing the error: Check your internet connection and try again, even though it is downloading

[2019-12-21 11:17] ben-xo commented on #27
It looks like you need to configure the base URL for your podcast feed at gorich - the files are linking to local file:// URLs. (I try to detect this automatically but it's not perfect).

[2019-12-21 11:19] nitaaikumar commented on #27
Ok @ben-xo I will try that and get back to you asap.

[2019-12-21 11:21] nitaaikumar commented on #28
Yes I would. Please add me @ben-xo. I am new to github, how will I be able to download and try it?

[2019-12-21 11:23] ben-xo commented on #28
On the `Code` tab click `Branch` and choose that branch. Then, click `Clone or Download`, and then `Download Zip`.

[2019-12-21 11:27] ben-xo commented on #29
Hi there,

https://gorich.org/dir2cast.php looks like it only has 3 episodes?

You'll need to give me more information about what it says along with "not proper" - i need the details.

"Check your internet connection and try again" means the page didn't load for you, which could mean the feed timed out as it's too slow or too big - I cant easily fix that, but also it could just be a temporary prob

[2019-12-21 19:10] ben-xo commented on #16
I found the bug (whoops - a year and a half later). Sorry for ever doubting you. I'll push a fix shortly

[2019-12-21 19:14] ben-xo commented on #16
Should be fixed in v1.18

[2019-12-21 19:14] #16 closed

[2019-12-21 19:31] ben-xo commented on #13
I have (finally) got round to implementing this!

[2019-12-21 19:31] #13 closed

[2019-12-21 19:37] ben-xo commented on #28
This is now in release 1.18

[2019-12-21 20:16] ben-xo commented on #13
@Gerlie15  @RobertBozic I'd be delighted if you could try out the feature!

[2019-12-21 21:27] nitaaikumar commented on #28
Thanks so much. Sorry could not reply faster as swamped with tasks here. I downloaded and replaced the files on the server but still can't see the cover image tags in the rss feed at: https://gorich.org/dir2cast.php. How does this work? Will the cover image get extracted from the media file and that link be added to the podcast feed or that is not required and it will directly show? I will donate

[2019-12-21 21:29] ben-xo commented on #28
@nitaaikumar you should delete all the files in the temp folder - otherwise you'll be seeing a cached version of the podcast. (It normally only gets regenerated when you upload a new file).

[2019-12-21 21:36] nitaaikumar commented on #28
thanks @ben-xo. What do I expect to see? I deleted the file in the temp folder. Still not seeing any  images tags in the above feed. And also @ben-xo this problem of Check you internet connection in Pocket Casts for this specific feed is still there. The media urls are correct in the feed php. And I can access the media publicly and directly. So maybe there is something in the feed, which is makin

[2019-12-21 21:51] ben-xo commented on #28
Sorry to keep making you download more files. Can you try with the very latest dir2cast from the releases tab (v1.18)

This version happily extracts images from my mp3s. If it's not working from an mp4, send me a link to an mp4 with an image embedded and I'll see what I can do.

Can we keep the Pocket Casts discussion to the other ticket? Easier for me to have the discussions separately. What URL

[2019-12-21 21:59] nitaaikumar commented on #28
Ok @ben-xo. I will post in the other issue. I tried with a mp3 and it extracted the cover image perfectly and showed the image tag. But it is not extracting the cover images from a m4a and mp4. Both the files have below have cover images, including the mp4. You can please try with them about why it is not extracting.

https://gorich.org/NitaaiMeditation.mp4
https://gorich.org/Love-is-in-the-Air.m4

[2019-12-21 22:04] nitaaikumar commented on #29
I stand corrected @ben-xo. The podcast works in the Apple Podcasts app and the Castbox app also. It is giving this error only in Pocket Casts. Actually Pocket Casts is my podcast app of choice and I recommed it to all my listeners as it totally free even of ads cross platform, it plays my portrait video mp4 episodes (Castbox supports only landscape videos), it shows 1000s of episodes in feeds (App

[2019-12-21 22:18] ben-xo commented on #29
It might be worth reporting the issue directly to Pocket Casts, as they know their app best! It can't hurt, anyway!

[2019-12-21 22:21] nitaaikumar commented on #29
Yes @ben-xo, I will. First I will check if mp3 only feed works. Then I will make a final mixed feed and report it to them. I don't want to make multiple shows each 300 episodes just because Apple only shows 300. Spotify also shows all the 1000s of episodes in one feed. So so Pocket Casts, Castbox, Anchor, etc. I will also check it on Podcast Republic on android.

[2019-12-21 22:22] ben-xo commented on #28
Reopening as it apparently only works for MP3s so far. I will investigate.

@nitaaikumar just to be sure I'm getting the result you want:
* how did you add the cover image?
* can you show me what the cover image should look like, for each of the files?

This will greatly help me working out what's not working properly.

[2019-12-21 22:28] nitaaikumar commented on #28
I added them via the [Metadatics](https://apps.apple.com/us/app/metadatics/id554883654?mt=12) Mac app, which is quite a standard and very good.

https://gorich.org/m4acover.jpg
https://gorich.org/mp4cover.jpg

are the respective cover images embedded.

[2019-12-21 23:01] ben-xo commented on #28
Sir, it's your lucky day. Have a play with version 1.19, it correctly extracts cover art from your files now ;)

It was a little more complicated than I expected - i'm very pleased with the results

[2019-12-21 23:11] ben-xo commented on #28
I believe this now works very well!

[2019-12-21 23:11] #28 closed

[2019-12-21 23:23] nitaaikumar commented on #28
Wow wow @ben-xo, it really does. So awesome, we just need to make media file with id3 tags and our podcast is ready. Now dir2cast has become just perfect and future-proof with the complete support for the most popular audio and video formats. Just wish this Pocket Casts issue was not there (will try from another server, with mp3 etc) and I will be just good to go to create something beautiful for

[2019-12-21 23:25] ben-xo commented on #28
You're welcome and I very much appreciate the donations.

[2019-12-21 23:26] ben-xo commented on #29
@nitaaikumar i noticed your podcast feed has many blank fields (e.g. description) - perhaps uploading some of the .txt files or editing dir2cast.ini would solve the problem

[2019-12-21 23:33] nitaaikumar commented on #29
Yes @ben-xo. I checked it https://podba.se. There is only one error coming, everything else is perfect:

Podcasts should have a valid <itunes:summary> tag, or at least a <description>.

Could you please add an auto summary tag with same the id3 title for now and maybe later extract the id3 lyrics and show them in this itunes summary tag automatically? That would be so awesome and dir2cast feed wil

[2019-12-21 23:39] ben-xo commented on #29
@nitaaikumar I've set the default description (and therefore also itunes summary) to "Podcast" in the most recent commit. You can change this by editing dir2cast.ini and uploading your preferred settings.

[2019-12-21 23:40] nitaaikumar commented on #29
@ben-xo On second thoughts, it would be great if the id3 title is added as the summary and lyrics are added as the description as lyrics can also be transcripts of that audio or video, so it may be longer, so description field may be more appropriate for the lyrics.

[2019-12-21 23:40] ben-xo commented on #29
If you add a description in the comment field, for an individual episode, it should already pick that up for an individual episode summary!

[2019-12-21 23:42] nitaaikumar commented on #29
Wow really? the id3 comments field works as the description? hope it works for m4a and mp4 too again and not just for mp3 as before. I will add a comment to both and upload.

[2019-12-21 23:44] ben-xo commented on #29
@nitaaikumar yes indeed. That's how I do it for my own podcast https://xo.am/dnb/bd/dir2cast.php

[2019-12-21 23:46] nitaaikumar commented on #29
One last error in podba.se. Podcasts must have a valid <itunes:category> tag to be accepted for iTunes.

[2019-12-21 23:49] ben-xo commented on #29
Again, you can set that in dir2cast.ini .

[2019-12-21 23:51] ben-xo commented on #29
@nitaaikumar open dir2cast.ini in TextEdit (or whatever) and have a read - it's self-documenting

[2019-12-22 00:03] nitaaikumar commented on #29
Wow wow wow, now pocket casts works finally. Thanks a million. Oh my my even the description is showing perfectly from the comments id3 in pocket casts, castbox, and apple podcasts is showing up perfectly as each episode note. You made my day, feel very happy today. Now no one in the world can make an excuse not to podcast, as it has become as simple and just drag and drop on the server.

[2019-12-22 00:08] ben-xo commented on #29
@nitaaikumar your words warm me greatlty. It was always my intention (since I wrote the bulk of this program, 11 years ago) for it to be as simple as step 1: upload the files. step 2: done. I'm very glad you're making use of it.

[2019-12-22 00:11] nitaaikumar commented on #29
@ben-xo One question, the default has been set to 10 items. But it will support 100s or 1000s of audio or video files right? Or it will overload the server? I mean how much do you think is maximum? Will it parse even 1-1.5mb feeds with 1000s of episodes?

[2019-12-22 00:16] nitaaikumar commented on #29
Aww thanks so much @ben-xo. Actually it is the masterstroke and simplicity of your script. I am so so late, 11 years late to use it. Maybe podcast hosting companies don't want anyone to know of your script or they will be out of business, hehe, kidding. I think people go to them for feed stats.

Oh that gave me another idea. maybe if you can some flat file counter or something which counts the num

[2019-12-22 00:16] ben-xo commented on #29
@nitaaikumar the way it works is that 99% of the time it serves the feed from the cached file, which is pretty much instant. However, the first time you view the feed after uploading a new episode, it has to rebuild the entire feed.

To do that, it looks at however many files you've configured. If there are too many, it may not work - it may be too slow. You will have to try it and see.

In an ide

[2019-12-22 00:18] ben-xo commented on #29
Counting plays and downloads is more of a web-server thing, and it's difficult to track accurately - but, you can always use FeedBurner! https://feedburner.google.com/

[2019-12-22 00:22] nitaaikumar commented on #29
Thanks for the elaborate answer. I have seen anchor.fm podcasts with 1600 episodes both on anchor and spotify, so I guess spotify does not restrict it.

thanks for the feedburner suggestion. Feedburner has a few issues. the 1 billion online chinese people won't be able to access the podcast feed url at all as google is blocked there. podcasts are picking up there. Plus feedburner probably would tr

[2019-12-22 00:26] nitaaikumar commented on #29
@ben-xo has your dir2cast feed been approved by apple in its podcast directory? or anyone who else's? just curious to know. I guess apple won't have any issues since it is validates fully.

[2019-12-22 00:28] ben-xo commented on #29
@nitaaikumar those excellent points. I don't know if feedburner is blocked in china, as it's not the same as google search.

Regarding large podcasts: I believe the RSS standard (on which podcasts are based) has a syntax to allow pagination - that is, page 1, page 2, etc. So it would (theoretically) be possible to divide up your back catalogue into smaller sub-podcasts which are linked together -

[2019-12-22 00:31] nitaaikumar commented on #29
Wow, you are so brilliant and full of options @ben-xo. Thanks. So to support 1000s of episodes, you have given 3 options:

1. incremental update
2. pre-caching the cache file
3. pagination.

Just summarizing. I like the pre-caching option I think. if the whole feed is cached then it could be like a static php file which could easily support 1000+ episodes.

[2019-12-22 00:33] ben-xo commented on #29
with pre-caching, you still have to figure out how to get it to run the first time. and without incremental update, it will gradually get slower and slower to generate after a new upload, the more files there are. (Of course once it's generated, it's very fast).

incremental update would actually be the best option. essentially, caching data per file rather than just caching the end result. I will

[2019-12-22 00:37] ben-xo commented on #29
I just tested creating a podcast of ~500 shows on my computer, it took 32 seconds to generate. Some web servers have a 30s limit. Anyway - let's solve this problem when it actually happens!

[2019-12-22 00:42] nitaaikumar commented on #29
Wow, thank you so much. Actually it is so easy to drag and drop media on the server that I think it will be even easy to make podcasts of a huge collection of old mp3s for example. In such a case scenario, no one would use a podcast host or podcast script where one has to manually add each episode. so your script actually shines when there are 100s or 1000s of episodes or old music collections and

[2019-12-22 00:43] ben-xo commented on #29
@nitaaikumar we can start to worry about it after we get to ~400+ episodes. Bear in mind that a large feed will also take longer to download, so ultimately I would still recommend a cap - and perhaps a second feed as an archive of older material.

[2019-12-22 00:48] nitaaikumar commented on #29
let me explain why this idea of 1000s of episodes is important. the chinese can't access youtube or soundcloud without a vpn. youtube degrades the audio quality to 128kbps of the original high quality audio. we can make a zip file of all the audio/video available and then can unzip it and play it. in a big podcast, the advantage is that the listeners can select the episodes which they want to down

[2019-12-22 00:50] ben-xo commented on #29
I appreciate your big thinking! as an engineer, one of the principles I adhere to is... build it when you need it, but not before then ;) (and when the time comes, we'll get this fixed!)

[2019-12-22 00:51] nitaaikumar commented on #29
Anchor.fm makes such big feeds. here is one podcast with 1471 episodes:  https://anchor.fm/optimal-living-daily. Thank you.

[2019-12-22 00:58] nitaaikumar commented on #29
whenever you have time. my offer stands. i can donate for your time for this addition. to make such changes that your script will easily take upto 5000 episodes without any signficant load on the server (full caching maybe). I am saying this because I already have 1500 very old videos/audios of mine which I would like to turn into a podcast.

[2019-12-22 01:37] ben-xo commented on #29
@nitaaikumar lets raise a new issue for the feature and i may be able to work on it later in the holiday season.

[2019-12-22 07:15] nitaaikumar opened #30 "Tuning the script for huge collections of media on the server"
As suggested by you @ben-xo, opening a new issue. Maybe the script generating a full static cached file once a day automatically instead of the server doing all the heavy lifting on the fly for every access to the file. I know we can just copy the generated code manually into a static feed file everytime we upload new files but will be great if the script is automated to do that or something.

[2019-12-22 07:16] nitaaikumar commented on #29
Done @ben-xo thanks, you can close this issue as it is resolved now.

[2019-12-23 13:18] #29 closed

[2019-12-27 00:35] ben-xo commented on #30
I've tentatively addressed this in https://github.com/ben-xo/dir2cast/tree/feature/cache-id3-data-per-file . Will merge after more testing.

[2019-12-27 15:56] nitaaikumar commented on #30
Wow thank you so much dear @ben-xo. This is so wonderful. Will test it and let you know. Any coding remaining or it is completed and just needs to be tested?

[2019-12-29 00:25] ben-xo commented on #30
It just needs to be tested!

If your folder of media is very large from the word go, it will still take a long time to generate.

But, if you add a few files regularly and it grows large over time, it should be very quick to add each new episode. (Previously, it would rescan everything every time you added a new episode). So the thing to test is that it can grow large a few files at a time.

You c

[2019-12-29 00:27] ben-xo commented on #23
i've created a new branch - https://github.com/ben-xo/dir2cast/tree/feature/cache-id3-data-per-file - which caches the data from scanned files much better, so you can create very large feeds much more easily (as it will scan new files incrementally instead of rescanning all files every time). Please can you help me test @Mrensmo  ?

[2019-12-29 00:55] ben-xo opened #31 "Description / summary refactor"
Hey @jeffbearer I made some changes which interact with your pull request from 2014 and I was wondering if you'd be so kind to review the changes?

Changes in commit 0cbed94

[2019-12-29 18:40] ben-xo commented on #14
I've addressed this in https://github.com/ben-xo/dir2cast/tree/feature/explicit-tag - can you test, @Gerlie15 ?

[2020-01-04 22:59] nitaaikumar opened #32 "Still shows 10 items after increasing item count"
@ben-xo I uncommented ITEM_COUNT in the ini file and made it 9999. But the php file still shows 10 items only. I tried reducing the default Expiry time etc. but still 10 items. Am I forgetting to change something or is this a bug? I tried both the stable version and with the id3 cache testing version.

[2020-01-04 23:10] nitaaikumar commented on #32
I changed it to 9999 in the php file too but still it shows only 10 items. Using PHP 7.4.

[2020-01-04 23:19] nitaaikumar commented on #32
In version 1.19, if I change the ITEM_COUNT to 99 instead of 10, it gives the following error:

Trying to access array offset on value of type bool
This error occurred on line 218 of /path/dir2cast.php.
Warning: unlink(/pathtotemp/somename_public.xml): No such file or directory in dir2cast.php on line 1131.

When I change it back to 10 it is fine. So there seems to be some bug with increasing the

[2020-01-04 23:22] nitaaikumar commented on #32
Oh I downloaded the latest one from: https://github.com/ben-xo/dir2cast/tree/d35fde0ddf81e29062e1acdbfc252e33ab06aa98 and it works, seems to show all items now. Will let you know if I encounter any more issues.

[2020-01-04 23:49] nitaaikumar commented on #32
Facing another issue now. It is not taking any value of TITLE, LINK, etc. from the ini file after uncommenting and setting them to the desired values. It still shows the public directory's name as the name of the Podcast.

[2020-01-05 02:39] ben-xo commented on #32
Every time you change something in dir2cast.ini you must delete the content
of the temp folder too.
--
--
Ben

[2020-01-07 21:46] ben-xo commented on #32
I can definitely make it check if the config file has been updated - i may do that - it will make it easier to test changes.

[2020-01-07 22:11] nitaaikumar commented on #32
Thank you so much @ben-xo if that is possible.

Sorry this is off-topic, but is it possible to disable the script from extracting the cover images from the media files and not add the cover image code in two places at <itunes:image href="url"/> and <image>url</image> for each episode to make the feed smaller for a large collection of audio and video files? And use the same cover image for each epi

[2020-01-10 23:36] ben-xo commented on #32
v1.21 makes it much easier to experiment with changes to dir2cast.ini as you don't have to keep deleting the cache file.

Regarding the image and other tags in the file: the duplication in the text of the feed may seem excessive but your web server will (or… should) send a gzipped copy of the text to the podcast app, meaning what the app downloads is generally much smaller than the feed size itsel

[2020-01-10 23:39] ben-xo commented on #32
When I test the other URL you gave me, https://gorich.org/dir2cast.php at the link above, it is already gzip enabled, and is 85% smaller.

[2020-01-10 23:41] ben-xo commented on #32
@nitaaikumar if you want to use a global cover art, without extracting from each media file, set:

[code]

both of these settings are already in dir2cast.ini :)

[2020-01-11 00:34] #30 closed

[2020-01-11 00:35] ben-xo commented on #23
This is now integrated since v1.20

[2020-01-11 00:35] #23 closed

[2020-01-12 16:19] nitaaikumar commented on #32
Dear @ben-xo, Never knew about this gzipping. Yes, I am getting 81% reduction. It is just great. Will try 1.21. I hope it still keeps all the caching benefits for lot of items which you added recently.

Yes, found the AUTO_SAVE_COVER_ART = false and it works. Did not know if the ITUNES_IMAGE would show for each episode also. Just perfect.

For one of my domain names, I have even set dir2cast.php a

[2020-01-13 01:09] nitaaikumar opened #34 "5 errors in feed including item should contain a guid element"
Dear @ben-xo, If I try to validate my feed at https://validator.w3.org/feed/ it shows the following 5 errors:

(1) If I add an itunes category like Society & Culture > History for example, the feed returns a 0 for the itunes category, maybe due to the "&" symbol. If I replace "and" instead of this "&" then the above validator shows invalid category. So it needs the exact & instead of and I think.

[2020-01-13 01:32] nitaaikumar commented on #34
@ben-xo, I fixed 4 by adding my name in brackets after my email for the webmaster variable. So that if fixed. Till the category & bug is fixed, I have temporarily given it a Category which does not include a & in it.

[2020-01-18 10:22] Mrensmo commented on #23
HI, back from the dead...
It caches much better now but i got a new error. I will make a separate issue about that.

Thnks!

[2020-01-18 10:31] Mrensmo opened #35 "Invalid Char value 31"
When i run the PHP I get the following error:

[code]
I've done some googling and found the following from [here](https://github.com/hexojs/hexo-generator-feed/issues/35#issue-153724212):

I have looked but i guess i don't have the skill to find the invalid character in the file.

[2020-01-18 10:46] ben-xo commented on #35
@Mrensmo Character 31 is "Unit Separator" - see http://www.asciitable.com/ - it's quite unusual to see this character. Perhaps it's added by a piece of software you use.

It could be coming from almost anywhere - in your MP3 tags, or the summary text, or…

I will look into sanitizing the output for these characters when they're rendered.

[2020-01-18 10:53] Mrensmo commented on #35
I manage to remove it from the xml-file by "Find and Replace" (i search for it's hex number with RegExp). Only to get a new error with another char:
[code]
I understand that it is my files that are strange but it would be lovely if your program could handle it. =)

It sems to be in these two fields that the strange chars apear.
[code]

[2020-01-19 14:14] ben-xo commented on #35
@Mrensmo could you try the version of dir2cast in the branch feature/issue-35-fix-invalid-utf8-characters-in-xml ?

[2020-01-19 14:23] ben-xo commented on #34
Hi @nitaaikumar , I will try to address these one by one.

Great find. You will have to fix this by putting the setting in double-quotes, like this:

`ITUNES_CATEGORIES = "Society & Culture > Places & Travel"` - that should fix the problem.

[2020-01-19 14:51] ben-xo commented on #34
I understand feedback from the validator, but the reality is a little complicated. There are two quite specific, and quite rare, scenarios for you to understand.

*Scenario 1*: for some reason, you must edit an older episode that is already published.

Let's then suppose that due to an unfortunate circumstance (say, a copyright claim), you have to edit an older episode to remove some audio, and re

[2020-01-19 15:04] ben-xo commented on #34
Similarly to problem (1), there is a mistake in the example in dir2cast.ini.

Rather than setting `ITUNES_EXPLICIT = no`, please change it to `ITUNES_EXPLICIT = "no"` and the problem will be solved.

[2020-01-19 15:19] ben-xo commented on #34
Once again the solution is double-quotes! :) Put them around the whole title, and there will be no more problem.

[2020-01-19 15:20] #32 closed

[2020-01-19 15:25] nitaaikumar commented on #34
Thanks you solved them all by double quotes.

Thank you for explaining in detail. Now I get it. I can understand that it is complicated to add. Is it that the feed is not showing any episodes in podcast statistic services like bluburry because the guid is not there? I mean even if it is guid recommended and not compulsory, what would be good to know is can a lack of guid for each episode break the

[2020-01-19 15:35] Mrensmo commented on #35
Works like a charm!

Thnks, very nice =)

[2020-01-19 16:14] ben-xo commented on #34
I am not against adding GUIDs - but I need to work out the best way.

[2020-01-19 16:14] #34 closed

[2020-01-19 16:17] #35 closed

[2020-01-19 16:22] #14 closed

[2020-01-19 16:23] ben-xo commented on #21
Hey @cgbale , it ought to be able to fix your problem, but can you first check to see if the problem still exists in the most recent version? I made a lot of bug fixes in the last month or so.

[2020-02-22 15:47] wesyah234 opened #38 "default item title to mp3 filename if no id3 tag"
Love this script, works great.  However, I tried it on some mp3 files that apparently don't have any id3 tag info to use as the title, so I see (untitled) in the <title> tag.  At least I assume that's why it's happening.  Any way you could fall back to using the filename of the mp3 file instead? At least there would be something to display then in my podcast player. Thanks!!

[2020-02-22 15:49] wesyah234 opened #39 "Suggestion: clear cache when count of mp3 files in directory != count in feed"
I was uploading mp3 files with older timestamps, and the cache was not clearing.  I 'touched' the mp3 file and this caused the cache to clear.  Perhaps you could count the files in the feed and compare to the files in the directory and if not equal, just clear the cache. Thanks!

[2020-02-22 20:05] ben-xo commented on #38
Yeah, probably a good idea. Thanks for the suggestion!

You definitely won't get the most out of dir2cast unless you tag your files, but I suppose there are lots of use-cases for it which aren't just straight-up publishing a podcast…

[2020-02-22 20:44] ben-xo commented on #38
Have a look at https://github.com/ben-xo/dir2cast/pull/40 and see if this suits your needs?

[2020-02-22 20:47] ben-xo commented on #39
This can definitely be done and shouldn't impact my use case to do, but may I ask how you're uploading files with old timestamps / what your use case is here?

[2020-02-22 22:57] wesyah234 commented on #39
Sure.  If you have some of your own mp3 files with old timestamps and you want to upload them to your personal feed, it will work one time, but once the cache is established, you can't upload any new mp3s.  I find podcast feeds are very handy for getting personal music files onto various devices (apple and android, tablets and phones), without having to deal with itunes on apple or various syncing

[2020-02-23 00:00] wesyah234 commented on #38
Perfect, I tried it and it works just as I expected. The only tweak I might suggest, if you have time, would be to strip the .mp3 extension as everything is an mp3 file anyway. Thank you for the quick attention to this!!

[2020-02-23 00:39] ben-xo commented on #39
Right, so you've dropped dir2cast into a folder of stuff you already had, rather than uploading mp3s ('episode by episode') to a folder where you're publishing a podcast?

What OS? Linux?

I'm not sure if I want to track the file count anywhere as that's a new piece of information to keep track of. It's all based on the 'mtime' of episode files at the moment - most people are using this to detect

[2020-02-23 00:43] ben-xo commented on #38
I'd rather not go down the route of having dir2cast try to "interpret" filenames - I like the idea of using the filename as a placeholder (because it's more useful than "(untitled)"), but really the idea was that for most people if you're seeing that it means you need to fix the tags in your feed. Where to stop - replacing underscores with spaces? Trying to parse artist and title? (Besides, we sup

[2020-02-23 00:46] wesyah234 commented on #38
yeah, no problem, I understand! This fix is great just the way it is.  I also noticed that the podcast title is interpreted from the directory name when using the dir= option which is great, this works for me.Thank you.

[2020-02-23 00:46] #38 closed

[2020-02-23 00:48] wesyah234 commented on #39
Yes, I can change my processes as needed to get the timestamp detection to work properly, no need to change anything major. Thank you!

[2020-02-23 00:48] #39 closed

[2020-04-29 11:25] x3r4n0 opened #41 "Remove .mp3 / .m4a Extension On RSS Feed Title"
hey i have some .m4a files on my webserver and all is working fine but is it possible to remove the media extensions on the Podcast Showtitles? i have no id3tags on my files. dir2cast use the title of the filesnames. like "DJ - Party.m4a the Show is called  "DJ - Party.m4a"

is it possible?

[2020-09-03 23:29] ben-xo commented on #31
@jeffbearer?

[2020-11-05 14:07] x3r4n0 opened #42 "Add Goolgle Podcast Support"
Hey can u please add Google Podcast RSS Support?

Like

`?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
    xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"
    xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd">
  <channel>
    <title>Dafna's Zebra Podcast</title>
    <googleplay:owner>dafna@example.com</googleplay:owner>
    <googleplay:author>Dafna</googleplay

[2021-01-29 10:59] nitaaikumar opened #43 "Does dir2cast fully work for PHP 8.0 or you will need to fix it?"
Dir2cast has made my life so much easier. Thanks Ben. Hope you can make it work with PHP 8.0 too so that it will parse larger podcast feeds even faster with the help of the 8.0 benefits.

[2021-01-29 15:46] ben-xo commented on #43
Hi there, as far as I know it works with PHP 8 just fine :) let me know if that's not the case

[2021-01-31 19:59] ben-xo commented on #43
I tested it just now and it appears to work fine with PHP 8.

[2021-02-09 13:52] DickManhard opened #44 "file ordering in xml file"
There doesn't seem to be any ordering in the generated dir2cast XML file. When generating a podcast or audiobook rss, it would be nice to have them in title/track order or something like that. Instead, the XML file lists the mp3s in no particular order.

[2021-02-09 18:56] ben-xo commented on #44
Hi @DickManhard ,

The ordering in the file is based on the dates the files were added to the folder. You should upload the files in the order you wish them to appear in the feed, newest last. (This corresponds to the original intended use-case, which is for publishing episodes one at a time).

If you have an entire series ready to go in one go, I appreciate that this might be a little trickier to

[2021-02-09 19:00] ben-xo commented on #41
Hi there (and sorry that I never replied to this 10 years ago…)

If the m4a files have metadata (e.g. artist = DJ, title = Party) these will be used. The filename is only shown when no metadata is present at all.

[2021-02-09 19:03] ben-xo commented on #42
Hi @x3r4n0 can you link me to some more information about these tags? Where they are specified?

I would like to understand what's missing and how to implement it properly.

It seems doable - But I'd like more info before adding this feature.

[2021-02-09 19:05] ben-xo commented on #24
@mattCameron09 if this is still an issue for you, can you provide me with an example file?

It may be possible to work around the issue by simply resaving the file with a new tag.

In any case, it would help me to understand what the problem is.

[2021-02-09 19:06] ben-xo commented on #22
#42 may be a duplicate of this.

[2021-02-09 19:07] ben-xo commented on #42
As mentioned in #22 when I last read the Google Play docs, they also supported the itunes podcast attributes as well. Is this not sufficient?

[2021-02-10 13:11] DickManhard commented on #44
OK, that makes sense. I'll try to mod the dates and re-scan.
Thank you for your time.

[2021-02-10 22:23] ben-xo commented on #44
@DickManhard if this solves your problem (or, if it does not), either way I would appreciate you leaving feedback here so we can close the issue. :) thanks!

[2021-02-11 19:10] DickManhard commented on #44
Works fine with the touch program to modify audiobook chapters in reverse order.

[2021-02-11 22:14] ben-xo commented on #44
I appreciate you confirming the outcome!

[2021-02-11 22:14] #44 closed

[2021-02-11 22:14] ben-xo commented on #43
@nitaaikumar can you confirm this issue is resolved for you?

[2021-02-28 05:13] marloostudio opened #47 "Giving Error "Undefined variable $argv""
Latest version gives me an error for "Undefined variable $argv"

[2021-02-28 14:22] #47 closed

[2021-02-28 14:24] ben-xo commented on #47
Apologies - can you try the latest change. Small mistake there which should be fixed now!

[2021-02-28 14:26] ben-xo commented on #43
The test suite now proves it works with PHP7.4 and 8.0

[2021-02-28 14:26] #43 closed

[2021-02-28 14:26] ben-xo commented on #31
Closing stale request. Have since added a test suite.

[2021-02-28 14:27] #31 closed

[2021-02-28 16:53] marloostudio opened #49 "it doesn't generate the XML file"
Thanks for fixing the other issue, however, I have tried the file in a different config and still, it is not generating the XML path for iTunes submission.

i did the following in .ini file:

[code]

[2021-02-28 23:36] ben-xo commented on #49
Can you give me a bit more information on how you use it?

If you want it to output a file called podcast.xml, then you will have to uncomment that line (take the `;` away before `OUTPUT_FILE`)

[2021-02-28 23:56] marloostudio commented on #49
I did ucomment it and also created the Folder /XML myselef manually but still generates following error:

[code]

[2021-02-28 23:56] marloostudio commented on #49
`fopen(/xml): Failed to open stream: Permission denied

This error occurred on line 1924 of /home/library/public_html/newversion5/dir2cast.php.`

[2021-03-01 00:03] ben-xo commented on #49
I'll get around to fixing the warning at some point, ultimately it's harmless

`fopen(/xml): Failed to open stream: Permission denied` <- this is your problem. I presume you've configured `OUTPUT_FILE = /xml`. Try configuring `OUTPUT_FILE = xml/podcast.xml` or `OUTPUT_FILE = XML/podcast.xml` if the folder you created was in uppercase.

"/xml" would refer to a file in the root of the whole filesyst

[2021-03-01 00:05] ben-xo commented on #49
Normally you wouldn't configure this at all, you'd just set the URL to `yourwebsite.com/dir2cast.php` and let dir2cast.php take care of the rest. If you can get it to work without changing the .ini file at all, then you can tailor it to your needs later.

[2021-03-01 00:05] marloostudio commented on #49
Ben got it fixed, thanks so much. This is a great software, it is going to make my life easier.

do you know I have to regenerate the podcast xml everytime i add mp3 file?? or it will do it on intervals?

[2021-03-01 00:06] ben-xo commented on #49
Glad you got it fixed.

If you use the OUTPUT_FILE setting, you will have to regenerate it yourself.

If you leave the setting off, but put dir2cast.php in the same folder as your mp3 files, and then set your itunes UTL to `website.com/dir2cast.php`, then it will regenerate by itself with no need for you to do anything.

[2021-03-01 00:08] #49 closed

[2021-03-01 00:08] marloostudio commented on #49
let me give it a try again, but it wasn't generating the XML file for iTunes before automatically. It was actually dumping them into temp.

[2021-03-01 08:40] ben-xo commented on #49
That’s right. It doesn’t actually “generate a file”, it outputs the file to the browser. (It caches in temp, so that next time you load the URL it is faster).

You got it working right first time!

Whatever URL you looked at, that’s the podcast!

[2021-11-19 19:44] ben-xo commented on #24
@mattCameron09 just a nudge - can you let me know if you still have an issue here?

[2021-11-22 05:42] mattCameron09 commented on #24
@ben-xo Thanks for the nudge. I moved to another system for the large files a few years ago. I just spun this back up using the files that I think I had hosted before. Whatever the problem was, it seems to be resolved now. I'll create a new issue if it crops up again.

[2021-11-22 05:42] #24 closed

[2021-12-22 01:58] gityopr opened #51 "New install doesn't update if dir2cast is added after the media files"
Hi, I can't get dir2cast to update the feed when a new file is added to its directory. Deleting a file from the directory also doesn't cause any changes.

If I delete the contents of /temp then it refreshes appropriately but I'd prefer not to have to do this every time, if possible.

Details: I'm running dir2cast on a Raspberry Pi 4 in the /www folder of a [SWAG](https://docs.linuxserver.io/images

[2021-12-22 11:43] ben-xo commented on #51
Can you give me the output of `ls -l` ? it updates based on the modification timestamps of the file, so that needs to be newer than dir2cast

[2021-12-22 15:29] gityopr commented on #51
Thanks for the quick reply!

`pi@rpi:~/podcast-server/kdbookecast $ ls -l
total 2164536
-rw-rw-r-- 1 pi pi      1203 Dec 21 18:34  502.html
-rwxr--r-- 1 pi pi   3767269 Dec 21 18:44 'A Full Life by Paulo Bacigalupi.m4a'
-rw-r--r-- 1 pi pi    295773 Dec 21 18:39 'Carl Sagan - The Demon-Haunted World (Cary Elwes, Seth MacFarlane).jpg'
-rwxrw-r-- 1 pi pi 498811479 Dec 21 18:34 'Carl Sagan - The Demon

[2021-12-22 16:57] ben-xo commented on #51
Try touching all of them in sequence, as they're mostly older than dir2cast. I wonder if copying them is preserving the date from the source folder? Then wait. Few mins before adding more

[2021-12-22 18:16] ben-xo commented on #51
I think i see a separate bug, it shouldn't be including the `.` file for A Full Life

the config_www.xml temp file (i assume that's the feed itself) looks like it contains everything, is it just being browser cached? do you need to do a hard refresh in the browser?

dir2cast is designed to wait a bit after you update so that it isn't adding broken MP3s to the feed (as you copy them in), but waitin

[2021-12-22 18:20] ben-xo commented on #51
basically if that .xml temp file updates (and contains all the files) then the problem is probably caching in your browser.

the following two settings apply to your use case

[code]

a new feed is valid of a minimum of 1 minute before it will even try to regenerate; and also 5 seconds is the length of time it won't check new files for if they change.

there is also a URL ?force=password where you

[2021-12-22 20:53] gityopr commented on #51
Thanks, touching all the media files and confirming the .xml in that folder did the trick. I knew it would be something silly! Thank you.

[2021-12-23 07:39] ben-xo commented on #51
Still technically a bug though (I didn't intend for it not to work properly if you copied dir2cast in AFTER your media files),, so I will try to improve the experience here!

[2021-12-23 18:05] gityopr commented on #51
Yeah something is definitely up with the stock swag docker container and dir2cast. Tried spinning up a new webserver on a Debian VM instead of a Raspberry Pi. I also waited about an hour to add files to the directory.

The server works great but dir2cast needs that reset link or clearing the temp folder to update. Does it rely on some PHP extensions or anything like that?

[2021-12-28 16:35] ben-xo commented on #51
Only the XML extension which you must have if it worked at all. It does rely on the file modification times so if your file system is FAT32 or something instead of ext3 or ext4 it might not work. I’ve never tried it on fat32

[2021-12-28 16:35] ben-xo commented on #51
I have been working on some more tests to see if I can reproduce and fix the problem. Thanks for reporting it.

[2021-12-30 04:18] ben-xo commented on #51
i have done some work on the caching which may solve your problem, would love to know if they do

[2021-12-30 04:18] ben-xo commented on #51
would also be useful if you could run the test suite for me on your Pi

[2022-01-02 02:33] gityopr commented on #51
Sorry for the late reply, I've been away from this project because of the holidays. How do I test the test suite?

[2022-01-03 16:40] ben-xo commented on #51
To run the test suite,
* ssh into your Pi like usual
* I assume you have PHP already installed, but if not `apt install php`
* do `pecl install xdebug`
* make sure `composer` is installed (not sure if you can get that through `apt` but if you can't, [these instructions seem reasonable](https://lindevs.com/install-composer-on-raspberry-pi/)
* `git clone` dir2cast onto your Pi from GitHub
* from ins

[2022-01-19 15:20] karawitan opened #53 "any Dockerfile to share for dir2cast ?"
Hello, anyone would share a Dockerfile implementing a dir2cast instance on nginx ?

[2022-01-30 02:16] ToddAGoodman commented on #53
I would be interested in a Docker setup as well.

[2022-02-02 13:49] ben-xo commented on #53
Hi! @karawitan @ToddAGoodman I can easily make one. How would you expect it to behave? I'm asking as there are several ways I could approach this and I'd like to know what your expectations are / how you imagine it going when you do `docker run` etc. Looking forward to hearing back from you.

[2022-02-02 14:26] ben-xo commented on #51
Hi @gityopr hoping to hear back from you, or perhaps give instructions so I can have a go :) but I have a hunch it's a twist specific to your particular combination and I might not be able to replicate it

[2022-02-02 16:15] karawitan commented on #53
Hi @ben-xo , One way to call the dir2cast container might be:

docker run -v /home/user/music:/www/music -p 80:80 benxo/dir2cast

That would export via http on port 80 the data below /home/user/music :)

[2022-02-02 17:44] ben-xo commented on #53
Yes that seems reasonable. Basing it off php-fpm is probably the right way to do it, I'll look into that soon

[2022-02-03 13:11] ToddAGoodman commented on #53
I would agree this would make a lot of sense and me easy to execute. Keep
features for me would be a container that allows me to deploy audiobooks in
different directories each with its own RSS feed.

Also it would be nice too deploy via docker compose as well

On Wed, Feb 2, 2022 at 12:44 PM Ben XO ***@***.***> wrote:

--
TAGoodman.Com

[2022-02-04 00:26] ben-xo commented on #53
So, the simplest way to do this is to use the official PHP apache docker image.

See https://hub.docker.com/_/php?tab=description&page=1&name=apache "Apache with a Dockerfile" instructions.

Rename dir2cast.php to index.php if you want it to be the default page.

[2022-02-05 18:56] ben-xo commented on #53
I have opened a PR with an example docker-compose. Want to try it out?

https://github.com/ben-xo/dir2cast/pull/54/files

[2022-02-09 22:35] ben-xo commented on #53
This has now been merged, thank you for your help testing!

[2022-02-09 22:35] #53 closed

[2022-03-23 17:49] gityopr commented on #51
I'm sorry for the delay on this! I believe part of the issue is that I'm running my webserver out of a docker container. SWAG by Linuxserver. Last time I looked at this I had a lot of trouble figuring out how to get composer running in that container. I'll give it a bit more work this weekend.

Thanks for not closing this issue!

[2022-03-27 17:27] ben-xo commented on #51
I would have thought you'd do something like this:

* run the container normally to start the web server (assuming the container name is now `swag` and `docker ps` shows it's running)
* `docker exec -it swag /bin/bash` - this will open a shell into the container
* `cd /config` - from the example docs i've seen, this seems to be the path inside the container where the files are mounted in
* `cd ...

[2022-05-22 20:06] ben-xo commented on #51
@helmut72 can you try setting MIN_CACHE_TIME=0 and MIN_FILE_AGE=0 in dir2cast.ini, it should effectively disable the cache altogether

[2022-05-22 20:07] ben-xo commented on #51
I would still like to know more about the filesystem and the file dates that you have which are causing this behaviour - ideally a test case that I can work with so that I can reproduce the problem?

[2022-05-23 06:08] helmut72 commented on #51
Hi, I use a standard Ubuntu 22.04 with Docker installed from docker.com, Apache with PHP. Nothng special with one exception: to reduce wear on a Raspberry I have set noatime option in fstab for ages, so I do it also on my server with SSD.
I have moved my collection from one folder to the video folder of dir2cast. File dates are different. From 2019 to may 2022. Then I have tested if dir2cast recog

[2022-05-23 08:09] ben-xo commented on #51
Thank you, I appreciate the feedback. I have an idea for a fix which will enable this to work with your use cases.

I did not realise how popular it would be to copy "old" files into a podcast folder (I don't do this personally), but I will add some code to refresh the feed if the number of files changes.

[2022-05-23 20:11] helmut72 commented on #51
This fix one problem, using `touch file.mp4` add the file in my Podcast app. But deleting a file it is still shown in my Podcast app. Also files with old dates won't be added.

When someone uploaded a video on Youtube in 2019, file date becomes 2019 on my harddrive. I use [youtube-dl-server](https://github.com/nbr23/youtube-dl-server) to get my content easily.

Also try wget:
`wget https://jsoncom

[2022-05-24 15:21] ben-xo commented on #51
Thanks. I understand your situation a lot better now. I really appreciate you taking the time to add details to the bug report.

I will come up with a solution for this.

[2022-05-25 08:06] ben-xo commented on #51
@gityopr or @helmut72 if you'd care to try the #58 to see if it fixes your problem? if so, i'll merge this and add it to the official release

[2022-05-25 20:24] helmut72 commented on #51
Looks good to me. Adding, deleting, adding again, deleting again, using `touch` before adding a 3rd time... all behaves like expected. Great, thanks!

[2022-05-25 22:59] ben-xo commented on #51
v1.33 has been released which incorporates these changes. Thanks for your help!

[2022-05-25 22:59] #51 closed

[2022-07-18 17:15] crosbyh opened #59 "Support for .m4b files"
Hello,

 Thank you for this very useful piece of software! I am wondering if it would be possible to add support for the .m4b format?

I own several audiobook files in .m4b format, and using dir2cast to bring them into my phone's podcast client would make for an ideal listening experience!

[2022-07-21 09:13] ben-xo commented on #59
Hi there, yes that should be pretty straightforward! Unfortunately I don't have any m4b files to test with, can you point me to some free ones I can use to check it's working?

[2022-07-22 03:17] crosbyh commented on #59
Thank you for the response! Here are some Project Gutenberg directory links, which contain public domain m4b audiobook files you can download:

https://www.gutenberg.org/files/21179/m4b/
https://www.gutenberg.org/files/20673/m4b/
https://www.gutenberg.org/files/21520/m4b/

[2022-07-28 21:06] ben-xo commented on #59
Great, thank you! And thanks once again for your support! :D

[2022-07-28 21:06] #59 closed

[2022-08-12 22:40] EdwarDDay opened #61 "Episode image in root folder"
Hi, I'm trying to setup a podcast in a subfolder.

My problem is, that `dir2cast` extracts the `.jpg` covers from the `.mp3` files in folder with `dir2cast.php` and not in the folder with the mp3 files. But in the rss feed the cover image urls point to the correct folder.

Do I need to configure something additionally?

current structure:
[code]
wanted structure
[code]

[2022-08-15 09:18] ben-xo commented on #61
Thank you for this bug report! That is certainly not the intended behaviour, and looks like a bug to me.

In the mean time if you move the files manually they should serve correctly. But I'll see what I can do fix the bug.

[2022-08-21 07:46] EdwarDDay opened #62 "Duplicated item attributes"
In my rss feed, all the attributes in the `itunes` namespace are duplicated for all `item` elements.

Maybe it has something to do with the podcast episodes being in a subfolder.

Example:
[code]

[2022-08-24 09:20] ben-xo commented on #61
This is now fixed in v1.35, with a test case added. Thanks again for reporting this!

[2022-08-24 09:21] ben-xo commented on #61
(although I would appreciate any feedback to confirm it works properly!)

[2022-08-24 09:22] #61 closed

[2022-08-24 09:28] ben-xo commented on #62
This is curious! It should also be harmless, but I'll see if I can reproduce the problem

[2022-08-24 13:23] ben-xo commented on #62
So… i managed to reproduce this once… then couldn't reproduce it again. Very strange…

[2022-08-24 20:05] ben-xo commented on #62
Hah, I did manage to reproduce it, and it's a weird one. It does not matter if RECURSIVE_DIRECTORY_ITERATOR is enabled or not.

Steps to reproduce
step 1) put some podcast mp3s with embedded cover art in a folder. Make sure that there are NOT any cover art files adjacent to the audio files.
step 2) view them with dir2cast.php once. The output will be correct, and covert art files will also be outp

[2022-08-24 22:34] ben-xo commented on #62
Fixed it, please try the latest version 👍

[2022-08-25 07:54] EdwarDDay commented on #61
I checked it and it looks like it's working now. Thank you

[2022-08-25 07:59] EdwarDDay commented on #62
Looks like it's working now. Thank you.
I will monitor it and see, if it happens again.

[2022-08-31 22:09] #62 closed

[2022-08-31 22:10] #41 closed

[2022-09-04 07:45] EdwarDDay opened #64 "Error message"
Is there the possibility to just return a 404 error, when the directory (or media item) can't be found? I think it would be nice to not return the directory path to the user and instead return a proper HTTP error code.

[2022-09-09 16:08] ben-xo commented on #64
Can you give me an example?

dir2cast is only responsible for its own URL (the feed itself), so if a media item is not found, i.e. someone has gone to a URL of an mp3 or whatever, then the error returned when it is not found is configured by your web server (e.g. nginx or apache), not by dir2cast itself.

[2022-09-09 16:09] ben-xo commented on #64
If you would like help diagnosing this in private, drop me a line (e.g. on twitter @benxo or some other way)

[2022-09-09 22:19] EdwarDDay commented on #64
I mean, when the podcast directory can't be found. So if I enter https://example.com/dir2cast.php?dir=unknown I get an error page with the absolute directory of the searched path. For this a 404 error would be enough.

[2022-09-10 00:01] ben-xo commented on #64
I see what you mean! yes I will see what I can do. Thanks for suggesting this.

[2022-10-09 09:20] EdwarDDay opened #65 "Support season tag"
It would be nice to have support for the season tag. iTunes supports `<itunes:season>` as an optional episode tag and there is the `TPOS` (`part_of_a_set`) ID3 tag which could be used.

[2022-10-17 17:23] ben-xo commented on #64
@EdwarDDay would you be so kind as to test the version here for me? https://github.com/ben-xo/dir2cast/tree/feature/better-handling-of-untrusted-triggered-errors - it implements this feature. Hopefully this works for you?

[2022-10-18 15:23] ben-xo commented on #65
This is an interesting idea, i'll look into this!

[2022-10-19 16:51] EdwarDDay commented on #65
When I look at Apples [Podcaster's Guide to RSS](https://help.apple.com/itc/podcasts_connect/#/itcb54353390) there is the definition of `<itunes:season>`

So a non-zero positive integer should work.

[2022-10-26 10:10] ben-xo commented on #64
@EdwarDDay did you get a chance to look? Would love your feedback

[2022-10-27 11:30] ben-xo commented on #64
I've merged the change into v1.37.

[2022-11-11 16:09] EdwarDDay commented on #64
Thanks for your work and sorry for the late response. I checked v1.37 and it's way better then before, so thanks for that.
So currently, when I don't pass a `dir` parameter, I get a 404 status code with the generated html page (because I have no podcast data in the root directory). When I pass a `dir` parameter, I get a 200 status code but it returns just `Not found: <requested directory>`.
It wou

[2022-11-26 19:57] ben-xo commented on #64
thanks for the feedback. I feel it's unusual to use both and without `?dir=` from the same installation, and it's also unusual to pass a `?dir=` that you know doesn't exist (as you own the feed, so you can link to dirs which do exist). Handling of dirs which don't exist has been treated as a security concern (trying not to reveal too much information about what's there).

It's worth noting that th